@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
}

.bg-nature {
  background: rgb(23, 124, 130);
}

.hero-section {
  width: 100%;
  height: 100vh;
  background: url("https://dreamsports.dreamstechnologies.com/react/template/static/media/banner.7fc0c87ab96535d6ee9a.jpg")
    no-repeat;
  background-size: cover;
  background-position: center;
}
